{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Лучшее время посещения</title>
    <script
        src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=places&callback=initMap"
        async
        defer
    ></script>
    <link rel="stylesheet" href="{% static 'locations/css/style.css' %}">
<body>
    <div class="recommendation-panel">
        <div id="details"></div>
        <div class="recommendation-panel-inner"></div>
    </div>

    <div id="map"></div>

    <script src="{% static 'locations/js/script.js' %}"></script>
</body>
</html>
